DBENGINE=PGSQL
DBHOST={{ db_host }}
DBPORT=5432
DBNAME={{ db_name }}
DBROUSER="{{ db_user }}"
DBROPW="{{ db_password }}"
DBRWUSER="{{ db_user }}"
DBRWPW="{{ db_password }}"
DBROOTUSER="{{ db_user }}"
DBROOTPW="{{ db_password }}"
